/* **************************************************** */
/* Reset básico */
html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #075ead;
    --green-color: #04D361;
    --green-hover-color: #04B455;
    --background-color: #171717;
    --background-color-2: #121214;
    --background-color-3: #080707;
    --white-color: #E1E1E6;
    --black-color: #000000;
    --text-color: #A8A8B3;
    --message-color: #FF9900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, .books {
    background-color: var(--background-color);
    color: var(--white-color);
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
/* Estilos para telas menores que 768px de largura */

  .hero-content {
      flex-direction: column; /* Empilha as colunas em vez de exibi-las lado a lado */
      padding: 0 1rem;
  }

  .hero-left, .hero-right {
      flex: 1;
      width: 100%; /* Largura total para cada coluna */
      text-align: center; /* Centraliza o texto */
  }

  .hero-left h1 {
      font-size: 2rem;
  }

  .hero-left p {
      font-size: 1rem;
  }

  .hero-buttons {
      flex-direction: column; /* Botões empilhados */
      margin-top: 1.25rem;
  }

  .hero-buttons .btn, .hero-buttons .btn-secondary {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0.625rem;
  }

  .hero-illustration {
      max-width: 50%; 
      margin-top: 1.25rem;
  }

  .hero-features {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      margin-top: 0.625rem;
  }

  .feature {
      margin-bottom: 1.25rem;
  }

  .header {
      padding: 0.625rem 1rem;
  }

  .footer {
      padding: 1.25rem 1rem;
  }
}

/* **************************************************** */
/* HERO */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.25rem;
  
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: left; /* Ajustando para alinhamento à esquerda */
  
    background-image: url('../img/background.jpg');
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Overlay */
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.25rem;
  }
  
  .hero-left {
    flex: 1;
    color: var(--white-color);
  }
  
  .hero-badge {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  
  .badge-icon {
    height: 3rem;
    margin-right: 0.625rem;
  }
  
  .badge-text {
    color: var(--green-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .badge-text::before {
    content: "";
    display: block;
    width: 2px;
    height: 3rem;
    background-color: var(--white-color);
    margin-right: 0.625rem;
  }
  
  .hero-left h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }
  
  .hero-left p {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
    color: var(--white-color);
  }
  
  .hero-buttons .btn {
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 1.25rem;
    transition: background-color 0.3s ease;
  }
  
  .hero-buttons .btn:hover {
    background-color: var(--green-hover-color);
  }
  
  .hero-buttons .btn-secondary {
    color: var(--white-color);
    border: 2px solid var(--green-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.3s ease;
  }
  
  .hero-buttons .btn-secondary:hover {
    color: var(--green-hover-color);
    border-color: var(--green-hover-color);
  }
  
  .hero-right {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .hero-illustration {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .hero {
      display: flex;
      top: 10px;
    }
  
    .hero-content {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-left, .hero-right {
      width: 100%;
    }
  
    .badge-icon {
      height: 2rem;
    }
  
    .badge-text {    
      font-size: 1rem;
    }
  
    .hero-left h1 {
      font-size: 2rem;
    }
  
    .hero-left p {
      font-size: 1rem;
    }
  
    .hero-illustration {
      width: 12.5rem;
    }
  }
  
  .hero-features {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    max-width: 37.5rem;
  }
  
  .feature {
    display: flex;
    align-items: center;
    color: var(--white-color);
  }
  
  .feature-icon {
    height: 1.5rem;
    margin-right: 0.625rem;
  }
  
  .feature-text {
    font-size: 1rem;
    color: var(--white-color);
  }
  
  @media (max-width: 768px) {
    .feature-text {
      font-size: 0.75rem;
    }
  }
  
  .scroll-down {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 100;
  }
  
  .scroll-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #04D361, transparent);
    position: absolute;
    bottom: 2rem;
  }
  
  .button-down {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    background-color: var(--green-color);
    margin-bottom: 0.625rem;
    flex-direction: column;
    cursor: pointer;
  }
  
  .button-down:hover {
    transform: scale(1.10);
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  .bt-img-1 {
    color:transparent;
    height: 0.5rem;
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }  
  
  .bt-img-2 {
    color:transparent;
    height: 0.5rem;
    animation-delay: 300ms;
    transform: translateY(0.125rem);
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }  
  
  /* **************************************************** */
  /* FOR WHO */
  .for-who-section {
    background-color: var(--background-color-2);
    color: var(--white-color);
    padding: 5rem 1.25rem;
    text-align: center;
  }
  
  .for-who-container {
    max-width: 75rem;
    margin: 0 auto;
  }
  
  .for-who-title {
    color: var(--green-color);
    font-size: 1.5rem;
  }
  
  .for-who-subtitle {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 40rem; /* Define uma largura máxima para o elemento */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    text-align: center; /* Centraliza o texto dentro do elemento */
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  
  .for-who-description {
    font-size: 1.25rem;
    margin-bottom: 3rem;
    color: var(--text-color);
  }
  
  .for-who-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
  }
  
  .for-who-item {
    display: flex;
    max-width: 300px;
    padding: 1.25rem;  
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;
  }
  
  .item-icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.25rem;
    background-size: cover;
    background-position: center;
  }
  
  .check-icon {
    background: url('../img/check.svg') no-repeat center center;
    background-size: cover;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: var(--text-color);
  }
  
  @media (max-width: 768px) {
    .for-who-content span {
      font-size: 1rem;
    }
  
    .for-who-content h2 {
      font-size: 2rem;
    }
  
    .for-who-content p {
      font-size: 1rem;
    }
  }
  
  /* **************************************************** */
  /* CERTIFICATE */
  .certificate-section {
    background-color: var(--background-color-3);
    padding: 5rem 1.25rem;
    text-align: center;
  }
  
  .certificate-container {
    max-width: 75rem;
    margin: 0 auto;
  }
  
  .certificate-span {
    display: block;
    font-size: 1.5rem;
    color: var(--green-color);
    margin-bottom: 20px;
  }
  
  .certificate-title {
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 40rem; /* Define uma largura máxima para o elemento */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    text-align: center; /* Centraliza o texto dentro do elemento */
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;    
  }
  
  .certificate-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    max-width: 75rem;
    margin: 0 auto;
  
    margin-top: 2.5rem; /* mt-10: 2.5rem (40px) */
    display: flex; /* flex */
    width: 100%; /* w-full */
    flex-direction: column; /* flex-col */
    gap: 1.5rem; /* gap-6: 1.5rem (24px) */
  }
  
  @media (min-width: 768px) {
    .certificate-grid {
        gap: 2rem; /* md:gap-8: 2rem (32px) */
    }
  }
  
  @media (min-width: 1024px) {
    .certificate-grid {
        flex-direction: row; /* lg:flex-row */
    }
  }
  
  .certificate-left {
    display: flex; /* flex */
    flex-direction: column; /* flex-col */
    gap: 1.5rem; /* gap-6 */
  }
  
  @media (min-width: 768px) {
    .certificate-left {
        gap: 2rem; /* md:gap-8 */
    }
  }
  
  @media (min-width: 1024px) {
    .certificate-left {
        width: 50%; /* lg:w-1/2 */
    }
  }
  
  .certificate-item {
    background: var(--background-color-2);
    padding: 1.25rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .item-title {
    display: flex;
    font-size: 1.5rem;    
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--green-color); 
    align-items: self-start;
  }
  
  .item-description {
    display: flex;
    font-size: 1rem;
    color: var(--white-color);
    text-align: left;
  }
  
  .certificate-images {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens se movam para a próxima linha quando o espaço for limitado */
    justify-content: space-between; /* Espaço igual entre as imagens */
    gap: 10px; /* Espaço entre as imagens */
    margin-top: 20px;
  }
  
  .certificate-images img {
    width: calc(20% - 10px); /* Cada imagem ocupa 20% da largura menos o gap */
    max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho da tela */
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  /* Para telas menores */
  @media (max-width: 1024px) {
    .certificate-images img {
      width: calc(33.33% - 10px); /* Ocupa 1/3 da tela em telas médias */
    }
  }
  
  @media (max-width: 768px) {
    .certificate-images img {
      width: calc(50% - 10px); /* Ocupa 1/2 da tela em telas pequenas */
    }
  }
  
  @media (max-width: 480px) {
    .certificate-images img {
      width: 100%; /* Ocupa toda a largura da tela em telas muito pequenas */
    }
  }
  
  .certificate-right {
    width: 100%; /* w-full */
  }
  
  @media (min-width: 1024px) {
    .certificate-right {
        width: 50%; /* lg:w-1/2 */
    }
  }
  
  .item-certificate {
    height: 515px;
    overflow: hidden;
    position: relative;
  }
  
  .item-certificate img {
    height: 500px;
    margin-top: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .certificate-container span {
      font-size: 1rem;
    }
  
    .certificate-container h3 {
      font-size: 2rem;
    }
  
    .certificate-container h4 {
      font-size: 1rem;
    }
  
    .certificate-container p {
      font-size: 1rem;
    }
  
    .item-certificate img {
      height: 350px;
      margin-top: 1rem;
    }
  }
  
  .skills-carousel {
    position: relative;
    max-width: 100%;
    margin-top: 1.5rem;
  }
  
  .carousel-image-container {
    position: relative;
    height: 400px; /* Ajuste o tamanho conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .carousel-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .thumbnail {
    width: 100px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    border-radius: 8px;
  }
  
  .thumbnail.active {
    opacity: 1;
    border: 2px solid #6C63FF;
  }
  
  .thumbnail:hover {
    opacity: 1;
  }
  
  .carousel-controls {
    display: none;
  }
  
  /* Tornar o carrossel responsivo */
  @media (max-width: 768px) {
    .carousel-thumbnails {
      display: none; /* Esconde as miniaturas no mobile */
    }
  
    .carousel-controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  
    .carousel-button {
      background-color: rgba(0, 0, 0, 0.5);
      color: var(--white-color);
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 1.5rem;
      border-radius: 50%;
    }
  
    .carousel-button.prev {
      left: 10px;
    }
  
    .carousel-button.next {
      right: 10px;
    }
  }

  /* **************************************************** */
/* CARD WRAPPER */
/* Wrapper para centralizar o card */
.discover-card-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px; /* Margem ao redor do card */
  }
  
  /* Card container com largura limitada */
  .discover-card-container {
    max-width: 1000px; /* Define uma largura máxima para o card */
    width: 100%;
    background-image: url('../img/lines.png');
    border-radius: 10px;
    padding: 24px;
    /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); */
    position: relative;
    z-index: 1; /* Coloca o card na frente do brilho */
    
    /* Estilos de sombra para criar o efeito de brilho */
    box-shadow: 0px 0px 40px rgba(4, 180, 85, 0.5), /* Sombra suave com tom verde */
              0px 0px 80px rgba(4, 180, 85, 0.3), /* Sombra mais espalhada */
              0px 0px 120px rgba(4, 180, 85, 0.2); /* Sombra ainda mais difusa */
  }
  
  /* Adicionando brilho extra ao redor do card */
  .discover-card-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 800px;
    background: radial-gradient(circle, rgba(130, 87, 229, 0.2), transparent 60%);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(60px);
    z-index: 0; /* Coloca o brilho atrás do card */
  }
  
  /* Flexbox para organizar o conteúdo */
  .discover-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    z-index: 2; /* Conteúdo na frente */
  }
  
  @media (min-width: 1024px) {
    .discover-card-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  /* Header com logo e título */
  .discover-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  @media (min-width: 1024px) {
    .discover-card-header {
      flex-direction: row;
      align-items: center;
    }
  }
  
  .discover-logo {
    color: transparent;
  }
  
  .discover-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white-color);
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .discover-title {
      text-align: left;
    }
  }
  
  /* Botão estilizado */
  .discover-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px 32px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .discover-button:hover {
    background-color: var(--green-hover-color);
  }
  
  .discover-button-icon {
    color: transparent;
  }